@import "_design.scss";

.art-content{
    max-width: 50rem;
    min-width: 90%;
    min-height: 100%;
    max-height: 100%;

    article, footer, header{
        flex-basis: auto;
    }

    header{
        position: relative;
        top: 0;
        background-color: $dark-grey;
        margin-top: 0;
    }

    h3{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h4{
        padding-left: 1rem;
    }

    footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: $dark-grey;    
    }

    p{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 1.5rem 0 1.5rem;
        text-align: left;
        line-height: 1.3rem;          
    }

    article{
        margin-bottom: 2rem;
        @include element_skygge;
        align-items: center;
    }

    .header-img{
        all:unset;
        max-width: 32rem;
        width: 100%;
        height: auto;
        // max-height: 20rem;
        object-fit: cover;
    }

    .art-pic{
        all: unset;
        max-width: 10rem;
        
    }

    #art-video{
        position: relative;        
        max-width: 32rem;
        max-height: 18rem;
        height: 18rem;
        width: 100% !important;
        height: 100% !important;
        margin-left: auto;
        margin-right: auto;
        
    
        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    
    #video-box{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 18rem;
        margin-top: 2rem;
    }
    
    #scss{
        text-align: center;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 1rem 0 1rem;
        line-height: 1.5rem;
        
    }
}

