@import "_design.scss";

@media only screen and (min-width: 900px), (orientation: landscape){

    html{
        font-size: 1.5em;
    }

    #grid-container{
        display: grid;
        flex-direction: column;
        grid-template-columns: 3rem auto 12rem 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                                "header header header header"
                                ". main aside ."
                                "footer footer footer footer"
        ;
    }

    aside{
        font-size: 1em;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    #aside-main{
        border-radius: 1rem 1rem 1rem 1rem;
        @include element_skygge;
        margin-top: 1rem;
    }
    
    article{
        min-width: 15rem;
        max-width: 20rem;
        flex-basis: 10%;
        flex-grow: 1;
        height: auto;
        max-height: 13rem;
        margin: 0 1rem 0 1rem;
        text-align: center;

        footer{
            font-size: 1em;
        }

        footer a{
            font-size: 1em;
        }
    }

    main{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;       
        justify-content: center;
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        align-content: baseline;
        gap: 1rem; 
    }

    #page-header{        
        background-position: center;        
    }

    footer{
        font-size: 0.7em;
        margin: 2rem 0 0 0;
        padding: 0.5rem;
    }

}