*{
    box-sizing: border-box;
}

body{
    font-family: "Arial", "sans-serif";
}

#grid-container{
    background-color: #efefef;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 4fr 0.5fr 0.5fr 1.5rem auto 1rem 0.5fr;
    column-gap: 2rem;
    row-gap: 0.5rem;
    grid-template-areas:    "header header header header header header"
                            ". . . . . . "
                            ". . . . . . "
                            ". . . . . . "
                            ". main main main main aside"
                            ". . . . . . "
                            "footer footer footer footer footer footer";
    }

#page-header{
    background-image: url("../../bilder/oblig2/header.jpg"); /* Kilde: https://www.pexels.com/photo/green-leaves-1072179/ */
    background-color: #1f2f22;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* kilde: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
    box-shadow: 10px 10px 20px 1px black, -10px 10px 20px 1px black;
    padding-bottom: 1rem;
    column-gap: 1rem;
    z-index: 2;
    border: 2px solid black;
    border-radius: 0 0 25px 25px;
    font-size: 1.5rem;
}

#page-header h1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1.5rem 0 0 0;
    margin: 0 0 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

#page-header h5{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0 0 0.5rem 0;
}

#top-nav-main{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*background-color: lightsalmon;*/
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}


#top-nav-main h2{
    margin: 0;
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* kilde: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
}

#top-nav-main a{
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* kilde: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    text-decoration: none;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0 1rem 0 1rem;

}


.dropdown-main{
    display: none;
    color: black;
}
.dropdown-main{
    display: none;
    position: absolute;
    background-color: #73877b;
    border: 0.3rem solid #1f2f22;
    border-radius: 2rem;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;

}

.dropdown-main li{
    padding: 1rem;

}

.dropdown-main li:hover{
    background-color: #1f2f22;
    border-radius: 2rem;
}

.top-menu .dropdown-point:hover > ul, ul li ul:hover{
    display: flex;
    flex-direction: column;
}


main{
    grid-area: main;
    display: flex !important;
    flex-basis: auto;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    align-content: baseline;
    font-size: 1.5rem;
}

article{
    flex-basis: 30%;
    max-width: 685px;
    order: 0;
    background-color: #fff;
    flex-grow: 1;
    padding: 0;
    min-width: 20.4rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px grey;
    margin-left: auto;
    margin-right: auto;
}



article h3{
    background-color: #73877b;
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 0 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#content-box{

    display: block;
    /*grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 4rem 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;*/
    max-width: 900px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: start;
}

#content-box img{
    height: auto;
}

/*
#content-box .intro-img{
    padding: 1rem;
    max-width: 100%;
}*/

p{
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
}

article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}



aside{
    grid-area: aside;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 18rem;
    justify-content: right;

}


#tools h5, #rel-art h5{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px dashed black;*/
    padding: 1rem 0 0.5rem 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-top: 0.5rem solid #73877b;
}

#video h5{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 1px dashed black;*/
    padding: 1rem 0 0.5rem 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

aside li{

    padding: 0;
}

aside ul{
    padding: 0;
    row-gap: 0.5rem;
}

aside a{
    border: 2px solid #1f2f22;
    padding: 0.5rem 0 0.5rem 0;
    color: white;
    background-color: #73877b;
    border-radius: 1rem;
    margin: 0 1rem 0 1rem;


}

aside a:hover{
    background-color: #1f2f22;
}

aside ul, aside a{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#rel-art{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1rem;
    border-bottom: 0.5rem solid #73877b;
}

#tools{
    padding-top: 0;
    border-bottom: 0.5rem solid #73877b;
}

#google-btn a{
    text-align: center;
    font-family: "Roboto", "sans-serif";
}

.art-btn{
    border: 2px solid #1f2f22;
    background-color: #73877b;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 2rem;
}

.art-btn:hover{
    background-color: #1f2f22;
}

.art-img{
    width: 50%;
}

footer{
    grid-area: footer;
    background-color: lightgrey;
    text-align: center;
    align-items: baseline;
    padding: 10px;
    border-top: 1px solid black;
}

footer a{
    color: inherit;
}

footer a:hover{
    color: grey;
}
